@model Tablero
<h1>CREAR TABLERO</h1>
<form asp-controller="Tablero" asp-action="Crear">
  <div class="form-group">
    <label asp-for="@Model.IdUsuarioPropietario">Id Usuario Propietario</label>
    <input asp-for="@Model.IdUsuarioPropietario" class="form-control">
  </div>
  <div class="form-group">
    <label asp-for="@Model.Nombre">Nombre</label>
    <input asp-for="@Model.Nombre" class="form-control">
  </div>
  <div class="form-group">
    <label asp-for="@Model.Descripcion">Descripcion</label>
    <input asp-for="@Model.Descripcion" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>