@using tl2_tp10_2023_exequiel1984.ViewModels;

@model TableroIndexViewModel

<h1>LISTA DE TABLEROS</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre de Tablero</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Propietario</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var tablero in Model.TablerosViewModel)
    {
        <tr>
            <td>@tablero.Nombre</td>
            <td>@tablero.Descripcion</td>
            <td>@tablero.NombreUsuarioPropietario</td>
            <td>
              @if(tablero.tienePermisoDeEdicion){
                <a asp-controller="Tablero" asp-action="Editar" asp-route-id="@tablero.Id">Editar</a>
                <a asp-controller="Tablero" asp-action="Eliminar" asp-route-id="@tablero.Id" onclick="return confirm('¿Estas seguro que quieres eliminar el elemento?')">Eliminar</a>
              }                         
                <a asp-controller="Tarea" asp-action="ListarTareasPorIdTablero" asp-route-idTablero="@tablero.Id" asp-route-nombrePropietarioTablero="@tablero.NombreUsuarioPropietario"
                asp-route-idPropietarioTablero="@tablero.IdUsuarioPropietario">Listar Tareas</a>
            </td>
        </tr>
    }
  </tbody>
</table>