@using tl2_tp10_2023_exequiel1984.ViewModels;

@model TareaIndexViewModel
<h1>Lista de tareas del tablero</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Estado</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Color</th>
      <th scope="col">Tablero al que pertenece</th>
      <th scope="col">Usuario Propietario</th>
      <th scope="col">Usuario Asignado</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var tarea in Model.TareasViewModel)
    {
        <tr>
            <td>@tarea.Nombre</td>
            <td>@tarea.Estado</td>
            <td>@tarea.Descripcion</td>
            <td>@tarea.Color</td>
            <td>@tarea.NombreTablero</td>
            <td>@tarea.NombreUsuarioPropietario</td>
            <td>@tarea.NombreUsuarioAsignado</td>
            <td>
              <a asp-controller="Tarea" asp-action="Editar" asp-route-id="@tarea.Id">Editar</a>
              @if(tarea.tienePermisoDeEdicion){
                    <a asp-controller="Tarea" asp-action="Eliminar" asp-route-id="@tarea.Id" onclick="return confirm('¿Estas seguro que quieres eliminar el elemento?')">Eliminar</a>                      
              }           
            </td>
        </tr>
    }
  </tbody>
</table>