@model List<Usuario>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var usuario in Model)
    {
        <tr>
            <td>@usuario.Id</td>
            <td>@usuario.NombreDeUsuario</td>
            <td>
                    @* <a asp-controller="Usuario" asp-action="Editar" asp-route-idProducto="@usuario.Id @usuario">Editar</a> *@
                    <a asp-controller="Usuario" asp-action="Eliminar" asp-route-id="@usuario.Id" onclick="return confirm('¿Estas seguro que quieres eliminar el elemento?')">Eliminar</a>                      
            </td>
        </tr>
    }
  </tbody>
</table>

